ul {
    display: flex;
    padding-left: 1100px;
    justify-content: end;
    list-style-type: flex-end;
    }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}    
#logo{
    width: 70px;
}

a {
    margin: 20px;
}

.logo {
    width: 150px;
}

#hero_container {
    display: flex;
    justify-content: center;
    margin-right: 115px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
}

#Profile {
    width: 243px;
    height: 243px;
    border-radius: 50%;
}

#Description {
    width: 497px;
    margin-bottom: 71px;
    margin-right: 115px;
}

#Op_Container{
    display: flex;
    justify-content: space-evenly;
    background-color: lightgrey;
    height: 320px;
}    

#Description_2 {
    height: 250px;
    width: 497px;
    padding: 25px;
    background-color: aquamarine;
    margin-top: 20px;
    border-radius: 4px;
    margin-right: 20px;
}

#Rengoku {
    width: 497px;
    height: 250px;
    padding: 25px;
    background-color: aquamarine;
    margin-top: 20px;
    border-radius: 10px;
}

#post_heading {
    display: flex;
    justify-content: space-between;
    width: 1060;
    align-items: center;
}

#heading_parent {
    justify-content: space-evenly;
}    

#works{
    display: flex;
    justify-content: start;
    margin: 40px;
    border-radius: 6px;
    background-color: white;
    border: 3px solid rgba(224, 224, 224, 1)
}
#Dashboard{
    width: 246px;
    height: 140px;
    radius: 6px;
    margin-right: 18px;
    
    
}


#bland{
    border-radius: 16px;
    background-color: midnightblue;
}
#st{
    margin-left: 40px;
    margin-bottom: 40px;
}





#act{
    display: flex;
    justify-content: start;
    margin: 40px;
    border-radius: 6px;
    background-color: white;
    border: 3px solid rgba(224, 224, 224, 1)
}
#Illustration{
        width: 246px;
        height: 140px;
        radius: 6px;
        margin-right: 18px;
          
}

#ton{
    border-radius: 16px;
    background-color: midnightblue;
}

#you{
    margin-left: 40px;
    margin-bottom: 40px;
}




#ion{
    display: flex;
    justify-content: start;
    margin: 40px;
    border-radius: 6px;
    background-color: white;
border: 3px solid rgba(224, 224, 224, 1);
}
#Typography{
    width: 246px;
     height: 140px;
     radius: 6px;
     margin-right: 18px;
     
}

#tto{
    border-radius: 16px;
        background-color: midnightblue;
}
        
    
#em{
    margin-left: 40px;
    margin-bottom: 40px;
}

#Date {
    display: flex;
    margin: 10px;
}

#Date2 {
    display: flex;
    margin: 10px;
}

#Date3 {
    display: flex;
    margin: 10px;
}

#ton {
    margin-right: 20px;
}

#bland {
    margin-right: 20px; 
}

#tto {
    margin-right: 20px;
}

a:link {
    text-decoration: none;
}

section {
    padding: 146px; 
}

h1 {
    margin-bottom: 40px;
}

#p1 {
    margin-bottom: 40px;
}
#line {
    border-bottom: 1px; solid: blue;
    margin-top: 15px;
    margin-bottom: 31px;
    
}

footer {
    gap: 35px; 
    display: flex;

}
#fooT {
    width:35px;
    margin-left: 250px;

}